
{% extends "base.html" %}

{% block content %}
{%  load static  %}


    <div class="jumbotron">
        <div class="container">
            <h1>Chocolat Blanc Insights</h1>
            <img src="{% static 'images/logo.jpg' %}">
            <p></p>
        </div>
    </div>

    {% for post in posts %}
        <div class="row">
            <hr>
            <div class="col-md-2 col-sm-3 text-center">
                 <a class="story-img" href="#">
                    <img src="http://placehold.it/100"
                         style="width:100px; height: 100px; background-color: #12ABB2; color:#FFFFFF;"
                         class="img-circle">

                </a>
            </div>
            <div class="col-md-10 col-sm-9">

                <h3> {{ post.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        {% if post.image %}
                            <img src="/media/{{ post.image }}" style="width: 500px;height:500px;border-color:#CFE5ED; ">
                        {% endif %}
                        <p>{{ post.content | linebreaks  }}</p>
                        <p>
                            <button class="btn btn-default" onclick="location.href= {{post.id}}">Read More</button>
                        </p>
                        <p>{{ post.published_date }} | <strong>Views</strong> {{ post.views }}
                        |<strong> Tag </strong>{{ post.tag }}</p>

                        {% load disqus_tags %}
                        {% set_disqus_title post.tile %}
                        {% disqus_show_comments %}

                    </div>
                </div>
            </div>

        </div>


    {% endfor %}
{% endblock %}