{%  extends "base.html" %}

% block content %}
<div class="content container">

    <div class="jumbotron">
        <div class="container width ">
            <h1>Chocolat Blanc Insights</h1>
            <img src="/static/images/logo.jpg">
            <p></p>
        </div>
    </div>


{#    <div class="content">#}


        <div class="grid">
            <figure class="effect-julia">
                <img src="/static/images/tablet.jpg" alt="img21"/>
                <figcaption>
                    <h2>Handcraft Chocolates <span></span></h2>
                    <div>
                        <p>Julia dances in the deep dark</p>
                        <p>She loves the smell of the ocean</p>
                        <p>And dives into the morning light</p>
                    </div>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <figure class="effect-julia">
                <img src="/static/images/display.jpg" alt="img21"/>
                <figcaption>
                    <h2>Events Chocolates Displays <span></span></h2>
                    <div>
                        <p>Julia dances in the deep dark</p>
                        <p>She loves the smell of the ocean</p>
                        <p>And dives into the morning light</p>
                    </div>
                    <a href="#">View more</a>
                </figcaption>
            </figure>

            <figure class="effect-julia">
                <img src="/static/images/mix.jpg" alt="img21"/>
                <figcaption>
                    <h2>Chocolate Recipes<span></span></h2>
                    <div>
                        <p>Julia dances in the deep dark</p>
                        <p>She loves the smell of the ocean</p>
                        <p>And dives into the morning light</p>
                    </div>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
        </div>
    </div>


{% endblock %}