{% extends "base.html" %}
{% block content %}

    <style>
    .grow {
        transition: all .2s ease-in-out;
    }
    .grow:hover {
        transform: scale(2.1);
    }
    .bordering{
    padding:3px; border:1px solid #021a40;
    }
    </style>
    <div class="row" style="margin-top: 170px">


        <div class="thumbnail">

            <div class="caption">

                <table class="table">

                    {% for product in products %}
                        <tr>

                            <div class="col-md-4"> <!-- This adds products and the paypal logo -->
                                <div class="thumbnail">
                                    <div class="caption">
                                        <p><img class="stop grow bordering" height="150" width="150"
                                                src="{{ MEDIA_URL }}{{ product.image }}"></p>
                                        <h4 class="pull-right">${{ product.price }}</h4>
                                        <a href="#">{{ product.name }}</a>
                                        <p>{{ product.description }}</p>
                                        <a> {{ product.paypal_form.sandbox }}</a>
                                        <a href="{% url 'add_to_cart' product.id %}">Add To Cart</a>


                                    </div>
                                </div>
                        </tr>

                    {% endfor %}
                    {#        </tbody>#}
                </table> <!-- places the pagination on the bottom of the page -->
                {% if products.has_other_pages %}
                    <ul class="pagination">
                        {% if products.has_previous %}
                            <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                            {% if users.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                            <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}