
{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}

    <style>

        #now {

            float: right;
            max-width: 500px;
            margin: 0 auto;

        }

        #now1 {

            float: left;
            max-width: 500px;
            margin: 0 auto;
            padding-left: 65px;
        }
     .bordering{
    padding:3px; border:1px solid #021a40;
    }


    </style>


    <div class="container-fluid">


        <header>


        </header>


        <div class="container col-md-12"></div><!-- top section text -->
        <div class="col-md-6" id="now">
            <h3>Find us</h3>
            <p><span class="fa fa-address-book" aria-hidden="true"></span>  18 Haddow Street
                Hamilton, South Lanarkshire.</p>
            <h4>Call us</h4>
            <p><span class="fa fa-phone-square" aria-hidden="true"></span>  +44 7901 598964</p>
            <p><span class="fa fa-envelope" aria-hidden="true"></span>   @chocolatblancltd</p>
        </div>


        <div class="col-md-6" id="now1">
            <h3>Chocolat Blanc</h3>
            <p>Opening Hours </p>
            <p><span class="fa fa-clock-o" aria-hidden="true"></span> 10:00 to 14:00</p>

        </div>
    </div>



    <div class="grid"><!-- css images effect -->


        <figure class="effect-julia">
            <img class= bordering src="{% static 'images/boxofchocos.jpg' %}" alt="img21"/>
            <figcaption>
                <h2>Handcraft Chocolates <span></span></h2>
                <div>
                    <p>Small packets</p>
                    <p>Individualise boxes </p>
                    <p>New Christmas packaging</p>

                </div>
                <a href="/products/">View more</a>

            </figcaption>
        </figure>
        <figure class="effect-julia">
            <img class= bordering src="{% static 'images/tiers2.jpg' %}" alt="img21"/>
            <figcaption>
                <h2>Functions <span></span></h2>
                <div>
                    <p>Weddings</p>
                    <p>Children Parties </p>
                    <p>Hotel Functions</p>

                </div>
                <a href="/products/">View more</a>
            </figcaption>
        </figure>

        <figure class="effect-julia">
            <img class= bordering src="{% static 'images/chocolat2.jpg' %}">
            <figcaption>
                <h2>Local Events<span></span></h2>
                <div>
                    <p>Fun Learning</p>
                    <p>Chocolate tasting</p>
                    <p>Chocolate Craft days  </p>

                </div>
                <a href="/blog/">Click View more</a>
            </figcaption>
        </figure>
    </div>



{% endblock %}
