{% extends "base.html" %}

{% block content %}



<div class="content container">

    <div class="jumbotron">
        <div class="container width ">
            <h1>Chocolat Blanc Insights</h1>
            <img src="/static/images/logo.jpg">
            <p></p>
        </div>
    </div>


{#    <div class="content">#}


        <div class="grid">
            <figure class="effect-julia">
                <img src="/static/images/tablet.jpg" alt="img21"/>
                <figcaption>
                    <h2>Handcraft Chocolates <span></span></h2>
                    <div>
                        <p>Pick n mix</p>
                        <p>Exciting New Favours</p>
                        <p>New Christmas packaging</p>
                    </div>
                    <a href="/products/">View more</a>
                </figcaption>
            </figure>
            <figure class="effect-julia">
                <img src="/static/images/display.jpg" alt="img21"/>
                <figcaption>
                    <h2>Events Chocolates Displays <span></span></h2>
                    <div>
                        <p>5 tier display in Gleneagles</p>
                        <p>50th party display </p>
                        <p>Christmas table</p>
                    </div>
                    <a href="/products/">View more</a>
                </figcaption>
            </figure>

            <figure class="effect-julia">
                <img src="/static/images/blogpic.jpg">
                <figcaption>
                    <h2>Chocolate Recipes<span></span></h2>
                    <div>
                        <p>Peppermint Recipe</p>
                        <p>Best Tablet in the World</p>
                        <p>What dark chocolate to use</p>
                        <a href="/blog/">Click View more</a>
                    </div>
                    <a href="/blog/">Click View more</a>
                </figcaption>
            </figure>
        </div>
    </div>


{% endblock %}