{% extends "base.html" %}
{%  load static from staticfiles %}
{% block content %}

<style>
.order{
    padding-top: 75px;
    margin-left: 65px;
    margin-right: 65px;

}
img{
    padding:3px; border:1px solid #021a40;
}


</style>

    <div class="content container">

        <div class="row order">
            <div class="col-md-8 ">
                <h1>THE BEST THINGS IN LIFE ARE SWEET</h1>
                <h3>UNIQUE SCOTTISH HOMEMADE CHOCOLATE MAKER</h3>
                <h3> STARTED IN 2012 by JOANNE</h3>
                <h3> REAL LOCAL SUCCESS STORY</h3>
            </div>
            <div class="col-md-4"><img src="{% static 'images/joanne.jpg' %}">
            </div>
        </div>
        {#        <div class="col-md-4">#}
        {#        <div class="sevco>">#}
        {#        <div class="container fluid">#}
        {#            <img src="{%static 'images/joanne.jpg' %}">#}
        {#        </div>#}
        {##}
        {#        </div>#}
        {#    </div>#}
        {#    <div class="col-md-4">#}
        {#        <div class="sevco>">#}
        {#        <div class="container fluid">#}
        {#            <img src="{%static 'images/joanne.jpg' %}">#}
        {#        </div>#}
        {#        </div>#}

        {#    <div class="jumbotron">#}
        {#        <div class="container width ">#}
        {#            <h1>Chocolat Blanc</h1>#}
        {#            <h2>At Chocolat blanc we believe that ‘the best things in life are sweet’. We are passionate about creating luxury artisan chocolates for all occasions.</h2>#}
        {#            <img src="/static/images/logo.jpg">#}
        {#            <p></p>#}
        {#        </div>#}
        {#    </div>#}


        {#    <div class="content">#}


        <div class="grid">
            <figure class="effect-julia">
                <img src="{% static 'images/tablet.jpg' %}" alt="img21"/>
                <figcaption>
                    <h2>Handcraft Chocolates <span></span></h2>
                    <div>
                        <p>Pick n mix</p>
                        <p>Exciting New Favours</p>
                        <p>New Christmas packaging</p>
                    </div>
                    <a href="/products/">View more</a>

                </figcaption>
            </figure>
            <figure class="effect-julia">
                <img src="{% static 'images/display.jpg' %}" alt="img21"/>
                <figcaption>
                    <h2>Events Chocolates Displays <span></span></h2>
                    <div>
                        <p>5 tier display in Gleneagles</p>
                        <p>50th party display </p>
                        <p>Christmas table</p>
                    </div>
                    <a href="/products/">View more</a>
                </figcaption>
            </figure>

            <figure class="effect-julia">
                <img src="{% static 'images/blogpic.jpg' %}">
                <figcaption>
                    <h2>Chocolate Recipes<span></span></h2>
                    <div>
                        <p>Peppermint Recipe</p>
                        <p>Best Tablet in the World</p>
                        <p>What dark chocolate to use</p>
                        <a href="/blog/">Click View more</a>
                    </div>
                    <a href="/blog/">Click View more</a>
                </figcaption>
            </figure>
        </div>
    </div>


{% endblock %}