{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}

    <style>
        .order {
            padding-top: 125px;
            margin-left: 65px;
            margin-right: 65px;

        }

        .bordering {
            padding: 3px;
            border: 1px solid #021a40;
        }


    </style>

    <div class="content container">

        <div class="row order"> <!-- image plus text top section -->
            <div class="col-md-8 ">
                <h1>THE BEST THINGS IN LIFE ARE SWEET</h1>
                <h3>UNIQUE SCOTTISH HOMEMADE CHOCOLATE MAKER</h3>
                <h3> STARTED IN 2012 by JOANNE</h3>
                <h3> A REAL LOCAL SUCCESS STORY</h3>
            </div>
            <div class="col-md-4"><img class="bordering" src="{% static 'images/frontpage.jpg' %}">
            </div>
        </div>


        <div class="grid"> <!-- Css Image effect -->
            <figure class="effect-julia">
                <img class="bordering" src="{% static 'images/tablet.jpg' %}" alt="img21"/>
                <figcaption>
                    <h2>Handcraft Chocolates <span></span></h2>
                    <div>
                        <p>Unique Favours</p>
                        <p>Beautiful Collections</p>
                        <p>Traditional Sweets</p>
                    </div>
                    <a href="/products/">View more</a>

                </figcaption>
            </figure>
            <figure class="effect-julia">
                <img class="bordering" src="{% static 'images/display.jpg' %}" alt="img21"/>
                <figcaption>
                    <h2>Events Chocolates Displays <span></span></h2>
                    <div>
                        <p>5 tier display in Gleneagles</p>
                        <p>Chocolate Events </p>
                        <p>Party Bags</p>
                    </div>
                    <a href="/products/">View more</a>
                </figcaption>
            </figure>

            <figure class="effect-julia">
                <img class="bordering" src="{% static 'images/blogpic.jpg' %}">
                <figcaption>
                    <h2>Chocolate Recipes<span></span></h2>
                    <div>
                        <p>Dark Chocolate Recipe</p>
                        <p>Prefect Chocolate Brownie</p>
                        <p>Easter Eggs</p>

                    </div>
                    <a href="/blog/">Click View more</a>
                </figcaption>
            </figure>
        </div>
    </div>


{% endblock %}